.container {
	width: 20%;
	height: 50%;
	margin-top: 5%;
}
.calculatorScreen {
	border: 2px solid grey;
	width: 100%;
	height: 5em;
}
.calculatorScreen>.row {
	margin-left: 1%;
	max-width: 98%;
}
#screen {
	margin-top: 0.5em;
	margin-left: 5%;
	word-break: break-all;
}
.calculatorBody {
	margin: 3% auto 3% 7%;
}
#clearButton {
	width: 93%;
}
.btn {
	width: 22%;
	height: 50px;
	margin-top: 5px;
}
#equalButton {
	font-size: 1.5em;
}
.operator {	
	font-size: 1.5em;
}