.container {
	width: 20%;
	height: 50%;
	margin-top: 5%;
}
.calculatorScreen {
	border: 2px solid grey;
	width: 100%;
	height: 5em;
}
#clearButton {
	width: 93%;
}
#screen {
	margin-top: 1.5em;
	margin-left: 10%;
}
#resultScreen {
	margin-left: 10%;
}
.calculatorBody {
	margin: 3% auto 3% 7%;
}
.btn {
	width: 22%;
	height: 50px;
	margin-top: 5px;
}
#equal {
	font-size: 2em;
}
.operator {	
	font-size: 1.5em;
}